@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
    font-family: 'SB_M';
    src: url('/fonts/SB 어그로 M.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB_L';
    src: url('/fonts/SB 어그로 L.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    word-break: keep-all;
    outline: 0px solid silver;
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    color: black;
    overflow-x: hidden;
}

p,
li {
    transition: 0.5s;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    color: black;
}

table {
    border-collapse: collapse;
    border: none;
}

textarea {
    resize: none;
}

input {
    border: 0px;
    background-color: transparent;
}

img {
    display: block;
    margin: auto 0;
}

button {
    border: 0px solid;
    background: transparent;
    transition: 0.3s;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.display-flex-flow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pc,
.pc-flex {
    display: none;
}

article>div {
    padding: 80px 5%;
}

/* header */

/* nav */

/* main */

main {
    height: 350px;
}

main>div {
    position: relative;
}

main>div>:first-child img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

main.main-home {
    height: 650px;
}

main.main-home>div>:first-child img {
    height: 650px;
}

main>div>:last-child {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

main>div>:last-child h1 {
    font-family: "SB_L";
    font-size: 2.5rem;
}

main.main-home>div>:last-child {
    top: 65%;
}

main.main-home>div>:last-child h1 {
    font-family: "SB_L";
    font-size: 2.2rem;
}

main>div>:last-child h3 {
    font-family: "SB_L";
    font-size: 1.8rem;
    margin-bottom: 10px;
}

main.main-home>div>:last-child h3 {
    font-size: 1.5rem;
}

main>div>:last-child p {
    margin-top: 20px;
}

.scroll {
    margin-top: 120px;
    text-align: center;
}

.scroll>p {
    margin-top: 20px;
    font-family: 'SB_M';
    font-size: 0.8rem;
    color: white;
}

.mouse_scroll {
    height: 70px;
    position: relative;
}

.mouse_scroll span::after {
    content: '';
    display: block;
    width: 2px;
    height: 60px;
    margin: 5px auto;
    background: white;
    opacity: 0.5;
    animation: mouse-pulse 2.0s ease infinite;
}

@keyframes mouse-pulse {
    0% {
        opacity: 1;
        transform: translate(-0.5px, 2px);
    }

    100% {
        opacity: 0;
        transform: translate(-0.5px, 15px);
    }
}

/* footer */

footer {
    background-color: #222;
    position: relative;
}

footer>div {
    width: 100%;
    padding: 80px 5%;
}

footer>div>:first-child {
    position: fixed;
    right: 5%;
    bottom: 80px;
}

footer>div>:first-child>div {
    cursor: pointer;
}

footer>div>:first-child>div img {
    width: 60px;
    height: auto;
}

footer>div>:first-child>:first-child {
    margin-bottom: 10px;
}

footer>div>:last-child>:first-child {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

footer>div>:last-child>:first-child button a {
    background-color: white;
    border-radius: 40px;
    padding: 5px 25px;
}

footer>div>:last-child>:first-child button a:hover {
    background-color: #222;
    color: white;
}

footer>div>:last-child>:first-child p {
    color: white;
    margin-top: 20px;
}

footer>div>:last-child>ul li {
    color: #aaa;
    margin: 5px 0;
}

footer>div>:last-child>p {
    color: #aaa;
    margin-top: 40px;
}

@media screen and (min-width: 768px) {

    p,
    li {
        font-size: 1.1rem;
    }

    /* header */

    /* nav */

}

@media screen and (min-width: 1366px) {

    .pc-flex {
        display: flex;
    }

    .pc {
        display: block;
    }

    .mo {
        display: none;
    }

    li,
    p {
        font-size: 1.2rem;
    }

    article>div {
        padding: 150px 0px;
        width: 1200px;
        margin: 0 auto;
    }

    /* header */

    /* nav */

    /* main */

    main {
        height: 450px;
    }

    main>div>:first-child img {
        height: 450px;
    }

    main.main-home>div>:last-child {
        top: 60%;
    }

    main>div>:last-child h1 {
        font-size: 3rem;
    }

    main.main-home>div>:last-child h1 {
        font-size: 3rem;
    }

    main.main-home>div>:last-child h3 {
        font-size: 2rem;
    }

    .scroll {
        margin-top: 150px;
    }

    .scroll>p {
        margin-top: 20px;
        font-size: 0.8rem;
    }

    .mouse_scroll {
        height: 70px;
    }

    .mouse_scroll span::after {
        width: 2px;
        height: 60px;
    }

    /* footer */

    footer>div {
        width: 1200px;
        margin: 0 auto;
        padding: 50px 0 80px
    }

    footer>div>:first-child {
        right: 10%;
        bottom: 200px;
    }

    footer>div>:last-child>:first-child button a {
        padding: 5px 30px;
    }

    footer>div>:last-child>:first-child p {
        font-size: 1rem;
    }

    footer>div>:last-child>ul {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 800px;
    }

    footer>div>:last-child>ul li {
        margin: 0;
        font-size: 1rem;
    }

    footer>div>:last-child>ul li:not(footer>div>:last-child>ul li:last-of-type,
        footer>div>:last-child>ul li:nth-last-of-type(2)) {
        padding-right: 15px;
        border-right: 1px solid #aaa
    }

    footer>div>:last-child>p {
        font-size: 1rem;
    }

}