@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
    font-family: 'SB_M';
    src: url('/fonts/SB 어그로 M.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB_L';
    src: url('/fonts/SB 어그로 L.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    word-break: keep-all;
    outline: 0px solid silver;
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    color: black;
    overflow-x: hidden;
}

p,
li {
    transition: 0.5s;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    color: black;
}

table {
    border-collapse: collapse;
    border: none;
}

textarea {
    resize: none;
}

input {
    border: 0px;
    background-color: transparent;
}

img {
    display: block;
    margin: auto 0;
}

button {
    border: 0px solid;
    background: transparent;
    transition: 0.3s;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.display-flex-flow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pc,
.pc-flex {
    display: none;
}

article>div {
    padding: 80px 5% 100px;
}

/* header */

/* nav */

/* main */

main {
    height: 350px;
}

main>div {
    position: relative;
}

main>div>:first-child img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

main>div>:last-child {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}

main>div>:last-child h1 {
    font-family: "SB_L";
    font-size: 2.2rem;
}

main>div>:last-child p {
    margin-top: 20px;
}

/* footer */

footer {
    background-color: #333;
    position: relative;
}

footer>div {
    width: 100%;
    padding: 80px 5%;
}

footer>div>:first-child {
    position: fixed;
    right: 5%;
    bottom: 80px;
}

footer>div>:first-child>:first-child {
    margin-bottom: 10px;
}

footer>div>:last-child>:first-child {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

footer>div>:last-child>:first-child button a {
    background-color: white;
    border-radius: 40px;
    padding: 5px 25px;
}

footer>div>:last-child>:first-child button a:hover {
    background-color: #222;
    color: white;
}

footer>div>:last-child>:first-child p {
    color: white;
    margin-top: 20px;
}

footer>div>:last-child > ul li{
    color: #aaa;
    margin: 5px 0;
}

footer>div>:last-child>p {
    color: #aaa;
    margin-top: 40px;
}

@media screen and (min-width: 768px) {

    p,
    li {
        font-size: 1.1rem;
    }

    /* header */

    /* nav */

    /* footer */

}

@media screen and (min-width: 1366px) {

    .pc-flex {
        display: flex;
    }

    .pc {
        display: block;
    }

    .mo {
        display: none;
    }

    li,
    p {
        font-size: 1.2rem;
    }

    article>div {
        padding: 150px 0px;
        width: 1440px;
        margin: 0 auto;
    }

    /* header */

    /* nav */

    /* main */
    main>div>:last-child h1 {
    font-size: 3rem;
}

    /* footer */

}