.main-slider>div img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.solution {
    background-color: #F8F7F7;
}

.solution>div>:first-child {
    text-align: center;
    margin-bottom: 50px;
}

.solution>div>:first-child h2 {
    font-family: "SB_L";
}

.solution>div>:first-child p {
    margin-top: 10px;
}

.solution>div>:last-child>div {
    overflow: hidden;
}

.solution>div>:last-child section {
    width: 48%;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}

.solution>div>:last-child section h3 {
    font-size: 0.8rem;
}

.solution>div>:last-child section>div>img {
    width: 100%;
    height: auto;
}

.solution>div>:last-child section>:last-child {
    position: absolute;
    bottom: -57%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    transition: 0.5s;
}

.solution>div>:last-child section>:last-child.solution-hover {
    bottom: -30%;
}

.solution>div>:last-child section>:last-child>p {
    font-size: 0.7rem;
    margin: 5px 0 20px;
}

.solution>div>:last-child section>:last-child>button {
    display: none;
}

.solution>div>:last-child section>:last-child.solution-hover>button {
    display: block;
}

.solution>div>:last-child section>:last-child>button a p {
    color: white;
    font-size: 0.8rem;
    margin: auto 20px auto 0;
}

.solution>div>:last-child section>:last-child>button a>div {
    position: relative;
}

.solution>div>:last-child section>:last-child>button a>div img {
    width: 23px;
    height: auto;
    margin: auto;
}

.solution>div>:last-child section>:last-child>button a>div>:first-child {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.solution>div>:last-child section>:last-child>button a.link-hover>div>:first-child {
    animation: line-hover 0.5s ease-in-out;
}

@keyframes line-hover {
    0% {
        left: 0%;
    }

    50% {
        left: 20%;
    }

    100% {
        left: 0%
    }
}

.solution>div>:last-child section>:last-child>button a>div>:first-child>img {
    width: 20px;
}

.preview>div {
    padding-bottom: 30px;
}

.preview>div>:first-child {
    text-align: center;
    margin-bottom: 50px;
}

.preview>div>:first-child h2 {
    font-family: "SB_L";
}

.preview>div>:last-child section>:first-child {
    margin-bottom: 25px;
}

.preview>div>:last-child section>:first-child button a {
    margin: auto 10px auto 0;
}

.preview>div>:last-child section>:first-child button img {
    width: 8px;
    height: auto;
}

.home-event {
    background-color: #F8F7F7;
}

.home-event>div>:first-child {
    text-align: center;
    margin-bottom: 30px;
}

.home-event>div>:first-child h2 {
    font-family: 'SB_L';
}

.home-event>div>:first-child p {
    margin-top: 15px;
}

.home-event>div>:last-child {
    text-align: center;
}

.home-event>div>:last-child>button {
    margin-top: 50px;
    padding: 8px 30px;
    background-color: black;
    border-radius: 50px;
}

.home-event>div>:last-child>button a {
    color: white;
}

.home-intro {
    background-image: url("/images/home_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-intro>div {
    color: white;
    text-align: center;
}

.home-intro>div>div h2 {
    font-family: "SB_L";
}

.home-intro>div>div p {
    margin: 20px 0 40px;
}

.home-intro>div>div button {
    border-radius: 50px;
    border: 1px solid white;
    padding: 5px 25px;
}

.home-intro>div>div button a {
    color: white;
}

.home-intro>div>div button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* 회사소개 */

.about>div>:first-child {
    text-align: center;
    margin-bottom: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #aaa;
}

.about>div>:first-child h2 span {
    color: #FFA600;
}

.about>div>:first-child p {
    margin-top: 20px;
}

.about>div>div>section:first-of-type {
    margin-bottom: 70px;
}

.about>div>div>section ul {
    position: relative;
}

.about>div>div>section ul::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 10px;
    width: 1px;
    height: 94%;
    background: #aaa;
}

.about>div>div>section ul li {
    position: relative;
    padding-left: 40px;
    color: #555;
    margin: 25px 0;
}

.about>div>div>section ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 4px solid #FFA600;
    background: #fff;
}

/* 상품 소개 */

.list {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.product-item {
    width: 48%;
    margin-bottom: 40px;
}

.product-item>div>:first-child img {
    width: 100%;
    height: 127px;
    object-fit: cover;
}

.product-item>div>:last-child h4 {
    font-size: 1rem;
    margin-top: 15px;
}

.product-item>div>:last-child ul {
    margin: 8px 0;
    height: 45px;
}

.product-item>div>:last-child ul li {
    color: #555;
    font-size: 0.8rem;
}

.product-item>button {
    margin-top: 30px;
}

.product-item>button a {
    padding: 5px 25px;
    border: 1px solid #aaa;
    color: #555;
    border-radius: 50px;
}

.product-item>button a:hover {
    background-color: #222;
    border: 1px solid #222;
    color: white;
}

.detail {
    position: relative;
}

.detail>div>:first-child>div>img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.detail>div>:first-child>h2 {
    margin: 50px 0 20px;
    text-align: center;
}

.detail>div>:first-child>div:last-of-type {
    text-align: center;
    padding: 8px 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-bottom: 40px;
}

.detail>div>:first-child>div:last-of-type p span {
    font-weight: bold;
    margin-right: 10px;
}

.detail>div>:first-child>div:last-of-type button {
    position: fixed;
    z-index: 3;
    right: 0;
    bottom: 0;
    background-color: black;
    width: 100%;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.detail>div>:first-child>div:last-of-type button a {
    color: white;
    font-size: 1rem;
}

.detail>div>:first-child>ul {
    text-align: center;
    margin-bottom: 40px;
}

.detail>div>:first-child>ul li {
    margin: 8px 0;
}

.detail>div>:last-child>div {
    margin: 20px 0;
}

.detail>div>:last-child>div img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* 체육대회 */

.sports>div>:first-child img {
    width: 100%;
    min-height: 210px;
    object-fit: cover;
    height: auto;
    border-radius: 15px;
}

.sports>div>:nth-child(2) {
    text-align: center;
    margin: 50px 0;
    padding-bottom: 50px;
    border-bottom: 1px solid #aaa;
}

.sports>div>:nth-child(2) h2 {
    width: 80%;
    margin: 0 auto;
}

.sports>div>:nth-child(2) p {
    margin-top: 15px;
}

.sports>div>:last-child>div {
    margin: 10px 0;
    width: 100%;
}

.sports>div>:last-child>div img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* 공식행사 */

.event>div>:first-child img {
    width: 100%;
    min-height: 210px;
    object-fit: cover;
    height: auto;
    border-radius: 15px;
}

.event>div>:nth-child(2) {
    text-align: center;
    margin: 50px 0;
    padding-bottom: 50px;
    border-bottom: 1px solid #aaa;
}

.event>div>:nth-child(2) p {
    margin: 15px 0 30px;
}

.event>div>:nth-child(2) ul {
    justify-content: center;
    gap: 10px;
}

.event>div>:nth-child(2) ul li {
    padding: 3px 15px;
    background-color: #e7e7e7;
    color: #555;
    border-radius: 40px;
}

.event-item {
    position: relative;
    margin: 12px 0;
    width: 48%;
    overflow: hidden;
    border-radius: 8px;
}

.event-item a div img {
    width: 100%;
    min-height: 108px;
    max-height: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.event-item>:last-child {
    position: absolute;
    left: 0;
    bottom: -100px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    width: 100%;
    height: 45px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.8s;
}

.event-item>:last-child.event-hover {
    bottom: 0px;
}

.event-item>:last-child p {
    font-size: 0.7rem;
    width: 97%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.event-detail>div>:last-child>div {
    margin: 20px 0;
}

.event-detail>div>:first-child>div img {
    width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 10px;
}

.event-detail>div>:first-child>h2 {
    margin: 50px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #aaa;
    text-align: center;
}

.event-detail>div>:last-child>div img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* 문의하기 */

.inquire>div>form>div {
    margin: 25px 0;
}

.inquire>div>form input,
.inquire>div>form textarea {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
}

.inquire>div>form h3 {
    margin-bottom: 10px;
}

.inquire>div>form h3 span {
    font-size: 0.82rem;
}

.inquire>div>form label h3::after,
.inquire>div>form legend h3::after {
    content: '*';
    color: #FF1616;
    margin-left: 5px;
}

.inquire>div>form>:nth-child(2) input {
    width: 30%;
}

.inquire>div>form>:nth-child(2) p {
    margin: auto;
}

.inquire>div>form>div:nth-last-of-type(2) h3::after {
    content: "";
}

.inquire>div>form>div:last-of-type>:nth-child(2) {
    padding: 15px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.inquire>div>form>div:last-of-type>:nth-child(2) p {
    font-size: 0.8rem;
}

.inquire>div>form>div:last-of-type>:nth-child(2) p:first-of-type {
    font-weight: bold;
}

.inquire>div>form>div:last-of-type>:nth-child(2) ul {
    margin: 20px 0;
}

.inquire>div>form>div:last-of-type>:nth-child(2) ul li {
    margin: 5px 0;
    font-size: 0.8rem;
}

.inquire>div>form>div:last-of-type>:nth-child(2)>:last-child {
    margin-top: 15px;
}

.inquire>div>form>div:last-of-type>:last-child {
    margin-top: 20px;
    justify-content: left;
    gap: 10px;
}

.inquire>div>form>div:last-of-type>:last-child input {
    border: 1px solid #ccc;
    margin: auto 0;
    width: auto;
}

.inquire>div>form>button {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    background-color: black;
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    .solution>div>:first-child h2 {
        font-size: 2rem;
    }

    .solution>div>:first-child p {
        margin-top: 15px;
    }

    .solution>div>:last-child section {
        margin: 20px 0;
    }

    .solution>div>:last-child section h3 {
        font-size: 1.2rem;
    }

    .solution>div>:last-child section>:last-child {
        bottom: -80%;
        padding: 15px;
    }

    .solution>div>:last-child section>:last-child.solution-hover {
        bottom: -65%;
    }

    .solution>div>:last-child section>:last-child>p {
        font-size: 0.9rem;
        margin: 5px 0 40px;
    }

    .solution>div>:last-child section>:last-child>button a p {
        font-size: 0.9rem;
        margin: auto 30px auto 0;
    }

    .solution>div>:last-child section>:last-child>button a>div img {
        width: 30px;
    }

    .solution>div>:last-child section>:last-child>button a>div>:first-child>img {
        width: 25px;
    }

    .preview>div>:first-child h2 {
        font-size: 2rem;
    }

    .home-event>div>:last-child>button {
        padding: 12px 40px;
    }

    .home-event>div>:last-child>button a {
        font-size: 1rem;
    }

    .home-intro>div>div button {
        padding: 8px 35px;
    }

    /* 상품 소개 */

    .product-item>div>:first-child img {
        height: 250px;
    }

    .product-item>div>:last-child h4 {
        font-size: 1.2rem;
    }

    .product-item>div>:last-child ul {
        margin: 8px 0;
        height: 55px;
    }

    .product-item>div>:last-child ul li {
        font-size: 1rem;
    }

    .product-item>button a {
        font-size: 1rem;
    }

    .detail>div>:first-child>div:last-of-type {
        position: relative;
        padding: 20px 0;
    }

    .detail>div>:first-child>div:last-of-type button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0%, -50%);
        width: 15%;
        padding: 5px 20px;
        border-radius: 50px;
    }

    .detail>div>:first-child>ul li {
        margin: 15px 0;
    }

    .detail>div>:last-child>div {
        margin: 40px 0;
    }

    /* 공식행사 */

    .event-item>:last-child {
        height: 60px;
    }

    .event-item>:last-child p {
        font-size: 1rem;
    }

    .event-detail>div>:last-child.event-detail-full,
    .event-detail>div>:last-child.event-detail-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .event-detail>div>:last-child.event-detail-full>div {
        width: 100%;
    }

    .event-detail>div>:last-child>div {
        margin: 20px 0;
    }

    .event-detail>div>:last-child.event-detail-flex>div {
        width: 48%;
    }

    .event-detail>div>:last-child.event-detail-flex>div img {
        width: 100%;
        height: auto;
        max-width: 580px;
    }

    /* 체육대회 */

    .sports>div>:last-child>div {
        margin: 15px 0;
        width: 48%;
    }
}

@media screen and (min-width: 1366px) {

    .solution>div>:first-child h2 {
        font-size: 2.5rem;
    }

    .solution>div>:last-child {
        overflow: hidden;
    }

    .solution>div>:last-child>div:nth-of-type(2),
    .solution>div>:last-child>div:nth-of-type(4) {
        margin-top: 50px;
    }

    .solution>div>:last-child>div:nth-of-type(5),
    .solution>div>:last-child>div:nth-of-type(7) {
        margin-top: -50px;
    }

    .solution>div>:last-child section {
        width: 280px;
    }

    .solution>div>:last-child section:nth-of-type(2) {
        margin-top: 40px;
    }

    .solution>div>:last-child section>:last-child {
        bottom: -70%;
    }

    .solution>div>:last-child section>:last-child.solution-hover {
        bottom: -50%;
    }

    .solution>div>:last-child section>:last-child>button a p {
        font-size: 1rem;
    }

    .preview>div>:first-child h2 {
        font-size: 2.5rem;
    }

    .preview>div>:first-child {
        margin-bottom: 70px;
    }

    .preview>div>:last-child section>:first-child {
        margin-bottom: 30px;
    }

    .preview>div>:last-child section>:first-child h3 {
        font-size: 1.5rem;
    }

    .preview>div>:last-child section>:first-child button a {
        font-size: 1rem;
    }

    .home-event>div>:first-child {
        margin-bottom: 70px;
    }

    .home-event>div>:first-child h2 {
        font-size: 2.5rem;
    }

    .home-intro>div>div h2 {
        font-size: 2.5rem;
    }

    .home-intro>div>div p {
        margin: 20px auto 70px;
    }

    .home-intro>div>div button a {
        font-size: 1rem;
    }

    /* 회사소개 */

    .about>div>:first-child {
        margin-bottom: 100px;
        padding-bottom: 100px;
    }

    .about>div>:first-child h2 {
        font-size: 2.3rem;
    }

    .about>div>:first-child p {
        margin: 30px auto 0;
        width: 60%;
    }

    .about>div>div>section ul li {
        padding-left: 60px;
        margin: 40px 0;
        font-size: 1.2rem;
    }

    /* 상품 소개 */

    .list {
        justify-content: left;
        gap: 26.5px;
    }

    .product-item {
        width: 280px;
    }

    .product-item>div>:first-child img {
        height: 210px;
    }

    .product-item>div>:last-child h4 {
        font-size: 1.2rem;
        margin-top: 20px;
    }

    .product-item>div>:last-child ul {
        margin: 10px 0;
        height: 65px;
    }

    .product-item>div>:last-child ul li {
        font-size: 1rem;
    }

    .product-item>button a {
        font-size: 1rem;
    }

    .detail>div>:first-child>div>img {
        width: 800px;
        margin: auto;
    }

    .detail>div>:first-child>h2 {
        font-size: 2.5rem;
        margin: 80px 0 30px;
    }

    .detail>div>:first-child>div:last-of-type {
        padding: 30px 0;
        margin-bottom: 70px;
    }

    .detail>div>:first-child>div:last-of-type p span {
        margin-right: 15px;
    }

    .detail>div>:first-child>ul {
        margin-bottom: 70px;
    }

    .detail>div>:first-child>ul li {
        margin: 8px 0;
    }

    .detail>div>:last-child>div {
        width: 1000px;
        margin: 40px auto;
    }

    .detail>div>:last-child>div img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    /* 체육대회 */

    .sports>div>:nth-child(2) h2 {
        font-size: 2rem;
    }

    .sports>div>:last-child>div {
        width: 580px;
    }

    /* 공식행사 */

    .event>div>:nth-child(2) h2 {
        font-size: 2rem;
    }

    .event>div>:nth-child(2) {
        margin: 70px 0;
        padding-bottom: 70px;
    }

    .event>div>:nth-child(2) p {
        margin: 20px 0 50px;
    }

    .event>div>:nth-child(2) ul {
        margin: auto;
        width: 700px;
        gap: 20px
    }

    .event>div>:nth-child(2) ul li {
        padding: 3px 25px;
    }

    .event-item {
        margin: 20px 0;
        width: 380px;
        border-radius: 15px;
    }

    .event-item a div img {
        height: 230px;
        border-radius: 15px;
    }

    .event-item>:last-child {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .event-item>:last-child p {
        width: 85%;
    }

    .event-detail>div>:last-child>div {
        margin: 20px 0;
    }

    .event-detail>div>:first-child>div img {
        width: 800px;
        margin: auto;
        border-radius: 10px;
    }

    .event-detail>div>:first-child>h2 {
        font-size: 2.5rem;
        margin: 80px 0 50px;
    }

    .event-detail>div>:last-child>div img {
        border-radius: 10px;
        width: 1000px;
        margin: auto;
    }

    /* 문의하기 */

    .inquire>div {
        width: 800px;
    }

    .inquire>div>form>div {
        margin: 0 0 40px;
    }

    .inquire>div>form input,
    .inquire>div>form textarea {
        padding: 15px;
        font-size: 1.1rem;
    }

    .inquire>div>form input::placeholder,
    .inquire>div>form textarea::placeholder {
        font-size: 1rem;
    }

    .inquire>div>form h3 {
        margin-bottom: 20px;
        font-size: 1.3rem;
    }

    .inquire>div>form>:nth-child(2) {
        width: 400px;
    }

    .inquire>div>form>:nth-child(2) p {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .inquire>div>form>div:last-of-type>:nth-child(2) {
        padding: 30px;
    }

    .inquire>div>form>div:last-of-type>:nth-child(2) p {
        font-size: 1rem;
    }

    .inquire>div>form>div:last-of-type>:nth-child(2) ul {
        margin: 30px 0;
    }

    .inquire>div>form>div:last-of-type>:nth-child(2) ul li {
        margin: 8px 0;
        font-size: 1rem;
    }

    .inquire>div>form>div:last-of-type>:nth-child(2)>:last-child {
        margin-top: 15px;
    }

    .inquire>div>form>div:last-of-type>:last-child p {
        font-size: 1.1rem;
    }

    .inquire>div>form>button {
        padding: 20px;
        margin-top: 50px;
        font-size: 1.2rem;
    }

}